*{
    box-sizing: border-box;

    user-select: none;
}

html{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body{
    background-color: #393e46;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    max-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.playMenu-settings{
    width: 320px;
    height: 100%;

    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    font-size: 1.75rem;
    color: white;
    border: 1px solid black
}

.playMenu-settings_scoreText, .playMenu-settings_lifesText{
    padding: 5px 5px;
    border: 0.5px solid #e23e57;
    border-radius: 8px;
}

.playMenu-settings_scoreText{
    width: 35%;
}

.playMenu-settings_music-icon {
    width: 3rem;
    height: 2.7rem;
    max-height: 2.7rem;

    background-image: url(../../assets/icons/music-neon.svg);
    background-size: cover;
    background-position: center;
    margin-left: 5%;
}

.playMenu-settings_sound-icon {
    width: 3rem;
    height: 2.7rem;
    max-height: 2.7rem;

    background-image: url(../../assets/icons/effects-neon.svg);
    background-size: cover;
    background-position: center;
    
    margin-right: 5%;
}

.menu, .difficulty-menu{
    width: 320px;
    height: 400px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #000000;
    color: #FFF;
    border: 1px solid black;
}

.menu_title{
    height: 100%;
    margin-top: 5%;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 0.5rem;

    text-shadow:
        #FFF 0px 0px 5px,
        /* #FFF 0px 0px 10px, */
        /* #FFF 0px 0px 15px, */
        #e23e57 0px 0px 20px,
        #e23e57 0px 0px 30px,
        #e23e57 0px 0px 40px,
        #e23e57 0px 0px 50px,
        #e23e57 0px 0px 75px;
}

.menu_play, .menu_select-level{
    margin-bottom: 20%;
    font-size: 4.5rem;
    padding: 12px 30px;
    /*background-color: #e23e57;*/
    border-radius: 8px;
    border: 1px solid #e23e57;

    text-shadow:
        #FFF 0px 0px 5px,
        #e23e57 0px 0px 20px,
        #e23e57 0px 0px 30px,
        #e23e57 0px 0px 40px;

    -webkit-box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
    box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
}

.menu_play:hover, .menu_select-level:hover{
    font-weight: bold;
    cursor:pointer;
}

.menu_play:active, .menu_select-level:active{
    font-weight:lighter;
    text-shadow:
    #FFF 0px 0px 5px,
    #e23e57 0px 0px 20px,
    #e23e57 0px 0px 30px,
    #e23e57 0px 0px 40px,
    #e23e57 0px 0px 50px,
    #e23e57 0px 0px 75px,
    #e23e57 0px 0px 100px,
    #e23e57 0px 0px 150px,
    #e23e57 0px 0px 300px,
    #e23e57 0px 0px 500px;
}

.footer{
    width: 320px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: #9b9b9b;
    font-size: 1.2rem;
}

.footer_copyright{
    margin-left: 5%;
}

.footer_music-license{
    margin-right: 5%;
}

.footer_music-license a{
    color: #b3b3b3;
}

.menu-levels{
    width: 320px;
    height: 400px;
    min-height: 400px;
    /* padding-top: 5%; */
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;

    overflow-y: scroll;

    background-color: #000000;
    color: black;
    font-size: 2.5rem;
    border: 1px solid black;
}

.menu-levels::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

.menu-levels::-webkit-scrollbar-thumb {
    background-color: #e23e57;
    outline: 2px solid black;
}

.menu-levels_level{
    width: 40%;
    height: 35%;

    margin-bottom: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #e23e57;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
    box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);

    background-size: cover;
    background-position: center;
}

.menu-levels_level:hover{
    color: #ff2800;
    font-size: 3rem;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(226,62,87,1);
    -moz-box-shadow: 0px 0px 25px 1px rgba(226,62,87,1);
    box-shadow: 0px 0px 25px 1px rgba(226,62,87,1);
}

.menu-levels_level:active{
    font-size: 2rem;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
    box-shadow: 0px 0px 8px 1px rgba(226,62,87,1);
}

#lvl1{
    background-image: url(../../assets/images/lvl1.png);
}

#lvl2{
    background-image: url(../../assets/images/lvl2.png);
}
#lvl3{
    background-image: url(../../assets/images/lvl3.png);
}
#lvl4{
    background-image: url(../../assets/images/lvl4.png);
}
#lvl5{
    background-image: url(../../assets/images/lvl5.png);
}
#lvl6{
    background-image: url(../../assets/images/lvl6.png);
}
#lvl7{
    background-image: url(../../assets/images/lvl7.png);
}
#lvl8{
    background-image: url(../../assets/images/lvl8.png);
}
#lvl9{
    background-image: url(../../assets/images/lvl9.png);
}
#lvl10{
    background-image: url(../../assets/images/lvl10.png);
}

.difficulty-menu{
    display: none;
    justify-content: center;

    font-size: 3rem;
    color: white;
}

.difficulty-menu_button{
    padding: 20px 30px;
    margin-bottom: 10%;    
}

.difficulty-menu_button:hover{
    font-weight: 1000;
}

.canvas{
    width: 320px;
    min-height: 400px;
    height: 400px;
    max-height: 400px;
    display: none;

    background-color: white;

    border: 2px solid black;
}

.playMenu-tactil-controls{
    width: 320px;
    height: 100%;
    display: none;
    align-items: center;
    justify-content:space-evenly;

    background-color: #000000;
    border: 1px solid black;
}

.playMenu-tactil-controls_button{
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.playMenu-tactil-controls_button:active{
    border-style:ridge;
}

.left-arrow{
    background-image: url(../../assets/icons/left-arrow-neon.svg);
    border-left: 3px solid #000000;
    border-radius: 50px; 
}

.left-arrow:active{
    border-color: #ff2800;
}

.up-arrow{
    background-image: url(../../assets/icons/up-arrow-neon.svg);
    border-top: 3px solid #000000;
    border-radius: 100%;
}

.up-arrow:active{
    border-color: #ff2800;
}

.right-arrow{
    background-image: url(../../assets/icons/right-arrow-neon.svg);
    border-right: 3px solid #000000;
    border-radius: 50px;
}

.right-arrow:active{
    border-color: #ff2800;
}

.submenu{
    position: fixed;

    width: 100vw;
    height: 100vh;

    display: none;/*flex*/
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
}

.submenu_next-level, .submenu_play-again, .submenu_game-over{
    display: none;/*flex*/
    flex-direction: column;
    align-items: center;

    width: 280px;
    height: 280px;
    color: #fff;
    background-color: #000000;
    font-size: 2.7rem;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0.5px rgba(0,0,0,0.75);
}

.next-level_title, .play-again_title, .game-over_title{
    height: 100%;
    margin-top: 10%;
}

.game-over_text{
    height: 100%;
    margin-bottom: 5%;
}

.next-level_button, .play-again_button{
    margin-bottom: calc(50% - 1.5rem - 10px);
    padding: 10px 20px;
    /* background-color: #e23e57; */
    border-radius: 100px;
    border: 0.5px solid #e23e57;
    font-size: 3rem;
}

.next-level_button:hover, .play-again_button:hover{

    border-width: 2px;
    font-weight: bold;
}

.next-level_button:active, .play-again_button:active{
    font-weight: 300;
    border-width: 0.5px;
}

@media only screen and (min-width: 992px){
    .menu, .difficulty-menu, .menu-levels{
        width: calc(580px * 0.8);
        height: 500px;
        min-height: 500px;
    }
    .playMenu-settings, .footer{
        width: calc(580px * 0.8);
    }
    .playMenu-settings{
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1440px){
    .menu, .difficulty-menu, .menu-levels{
        width: calc(760px * 0.8);
        height: 680px;
        min-height: 680px;
    }
    .playMenu-settings, .footer{
        width: calc(760px * 0.8);
    }
}

@media only screen and (min-width: 1920px){
    .menu, .difficulty-menu, .menu-levels{
        width: calc(900px * 0.8);
        height: 860px;
        min-height: 860px;
    }
    .menu_play, .menu_select-level{
        margin-bottom: 30%;
    }
    .playMenu-settings, .footer{
        width: calc(900px * 0.8);
    }
}